@font-face {
	font-family: 'SL-Light';
	src: url('/assets/fonts/Superlative-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SL-Regular';
	src: url('/assets/fonts/Superlative-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SL-Regular-Condensed';
	src: url('/assets/fonts/Superlative-RegularCondensed.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
